<nav class="text-blue-900">
    <ul class="list-inside list-disc">
        <li>
            <a href="/">Profile</a>
        </li>
        <li>
            <a href="/about-us">Professional experience</a>
        </li>
        <li>
            <a href="/education">Education</a>
        </li>
        <li>
            <a href="/education">Competencies</a>
        </li>
        <li>
            <a href="/contacto">Contact</a>
        </li>
    </ul>
</nav>
