---
import LayoutContacto from "../layouts/LayoutContacto.astro";
---

<LayoutContacto>
    <div class="menu2">
        eSTA ES MI PAGINA DE CONTACTO
    </div>
</LayoutContacto>

<style>
    .menu2 {
        color: red;
    }
</style>