---
import Welcome from "../components/Welcome.astro";
import Validador from "../components/myausita/Validador";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Darío Bravo">
	<Welcome />
	<h1>Register</h1>
	
	<Validador client:only="react" />
</Layout>
