---
import Welcome from "../components/Welcome.jsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Darío Bravo">
	<div class=" content">
		<Welcome client:only="react" />
	</div>
</Layout>
