---
import Validador from "../components/myausita/Validador";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Darío Bravo">
	<div
		class="bg-gradient-to-r from-purple-500 to-pink-500 text-white h-full py-12"
	>
		<div
			class="bg-white bg-opacity-10 backdrop-blur-lg rounded-3xl p-8 shadow-2xl w-full max-w-md mx-auto "
		>
			<h2
				class="text-4xl font-extrabold text-white mb-6 text-center animate-pulse"
			>
				¡Bienvenido!
			</h2>
			<Validador client:only="react" />
		</div>
	</div>
</Layout>
