---
import Validador from "../components/myausita/Validador";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Darío Bravo">
	<h1>Inicia sesión</h1>
	<Validador client:only="react" />
</Layout>
