---
import MyauImages from "../components/myausita/MyauImages";
import LayoutUsers from "../layouts/LayoutUsers.astro";
---

<LayoutUsers title="Myau Page">
  <div
    class="bg-gradient-to-r from-purple-500 to-pink-500 text-white -mt-5"
  >
    <MyauImages client:only="react" />
  </div>
</LayoutUsers>
<style is:global>
  .welcome-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .welcome-title h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  .welcome-title p {
    font-size: 1.5rem;
    font-weight: 300;
  }
</style>
