<footer class="bg-gray-900 text-white py-8">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex flex-row justify-between gap-4">
            <!-- Sección de información -->
            <div class="w-full sm:w-1/3 ">
                <h2 class="text-lg font-semibold mb-2">Información</h2>
                <p class="text-gray-400 mb-4 w-11/12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus dolore dolores, qui magni quod repellat esse ratione beatae, fugiat magnam sequi et alias mollitia omnis delectus ea culpa voluptatum eum

                </p>
            </div>
            <!-- Sección de navegación -->
            <div class="w-full sm:w-1/3">
                <h2 class="text-lg font-semibold mb-2">Navegación</h2>
                <ul class="text-gray-400 space-y-2">
                    <li><a href="#" class="hover:underline">Inicio</a></li>
                    <li>
                        <a href="#" class="hover:underline">Acerca de</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Servicios</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- Sección de contacto -->
            <div class="w-full sm:w-1/3">
                <h2 class="text-lg font-semibold mb-2">Contacto</h2>
                <p class="text-gray-400 mb-2">
                    Correo: <a
                        href="mailto:info@ejemplo.com"
                        class="hover:underline">info@ejemplo.com</a
                    >
                </p>
                <p class="text-gray-400">
                    Teléfono: <a href="tel:+123456789" class="hover:underline"
                        >+1 234 567 89</a
                    >
                </p>
            </div>
        </div>
        <div class="mt-8 text-center text-gray-500">
            <p>&copy; 2024 Tu Sitio Web. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
