<footer class="flex flex-col items-center justify-center">
    <h1>Contacto</h1>
    <p>Dario</p>
    <a href="https://github.com/dario-gonzalez">GitHub</a>
    <a href="https://www.linkedin.com/in/dario-gonzalez-b73b0a218/">LinkedIn</a>
</footer>
