---
// Font Awesome
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faHome } from "@fortawesome/free-solid-svg-icons";

// Declare all  the icons you plan on using
library.add(faHome);

// Instantiate the icon with the icon function
const homeIcon = icon({ prefix: "fas", iconName: faHome.iconName });
---

<nav class="bg-gray-800 w-screen h-20 sticky top-0 z-50">
    <!-- Navbar para pantallas grandes c: -->
    <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button
                    type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                >
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg
                        class="block size-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        data-slot="icon"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                        ></path>
                    </svg>
                    <svg
                        class="hidden size-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        data-slot="icon"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18 18 6M6 6l12 12"></path>
                    </svg>
                </button>

                <a
                    href="/"
                    class="text-gray-300 rounded-md p-2 hover:bg-gray-700 hover:text-white w-12 mt-5"
                >
                    <Fragment set:html={homeIcon.html} />
                    Home
                </a>
            </div>
            <div
                class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
            >
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex pt-4">
                        <a
                            href="/"
                            class="text-gray-300 rounded-md hover:bg-gray-700 hover:text-white py-2 p-10"
                        >
                            <Fragment set:html={homeIcon.html} />
                            Home
                        </a>
                        <a
                            href="blog"
                            class="rounded-md px-3 py-5 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white flex align-middle justify-center mx-5"
                        >
                            Blog
                        </a>
                        <a
                            href="cv"
                            class="rounded-md px-3 py-5 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white flex align-middle justify-center mx-5"
                        >
                            CV
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar para movil -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pb-3 pt-2">
            <a
                href="blog"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                >BLog</a
            >
            <a
                href="cv"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                >CV</a
            >
        </div>
    </div>
</nav>
<style>
    nav {
        margin-left: -2rem;
        margin-top: -2rem;
    }

    .svg-inline--fa {
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
        height: 1em;
        vertical-align: -0.125em;
    }
</style>
