---
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faHome } from "@fortawesome/free-solid-svg-icons";
import SessionHandler from "./home/SessionHandler";

library.add(faHome);

const homeIcon = icon({ prefix: "fas", iconName: faHome.iconName });
---

<nav class="bg-green-db w-full h-20 sticky top-0 z-40 shadow-lg">
  <!-- Navbar para movil -->
  <div class="hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a
        href="blog"
        class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-gray-700"
        >BLog</a
      >
      <a
        href="cv"
        class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-gray-700"
        >CV</a
      >
    </div>
  </div>

  <div class="flex flex-row justify-center h-full py-2">
    <a
      class="flex flex-col h-full w-1/4 items-center justify-center rounded-md px-3 py-2 text-base font-medium text-white hover:*:brightness-200"
      href="/"
    >
      <Fragment set:html={homeIcon.html} />
      Home
    </a>
    <div
      class="flex flex-row items-center justify-center gap-2 w-1/2 *:h-full *:flex *:items-center *:justify-center *:min-w-20 border-x-2 border-white"
    >
      <a
        href="/blog"
        class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-gray-700"
      >
        Blog
      </a>
      <a
        href="/cv"
        class="block rounded-md px-3 py-2 text-base font-medium text-white hover:bg-gray-700"
      >
        CV
      </a>
    </div>
    <div class="w-1/4">
      <SessionHandler client:only="react" />
    </div>
  </div>
</nav>

<style>
  .svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
  }
</style>
