---
// Font Awesome
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faEnvelope, faCircleUser } from "@fortawesome/free-solid-svg-icons";

library.add(faEnvelope, faCircleUser);

const userIcon = icon({ prefix: "fas", iconName: faCircleUser.iconName });
const fileIcon = icon({ prefix: "fas", iconName: faEnvelope.iconName });
---

<div class="welcome">
	<div class="welcome-content">
		<div class="welcome-title">
			<h1>Darío Bravo</h1>
			<p>Desarrollador Web</p>
		</div>
		<div class="flex items-center justify-center gap-2">
			<a
				href="/blog"
				class="button bg-slate-900 text-gray-300 rounded px-5 py-2 hover:bg-slate-700 hover:text-gray-100 h-20 flex align-middle justify-center"
			>
				<div class="w-10 text-center">
					<Fragment set:html={fileIcon.html} />
					Blog
				</div></a
			>
			<a
				href="/cv"
				class="button bg-slate-900 text-gray-300 rounded px-5 py-2 hover:bg-slate-700 hover:text-gray-100 h-20 flex align-middle justify-center"
			>
				<div class="w-10 text-center">
					<Fragment set:html={userIcon.html} />
					CV
				</div>
			</a>
		</div>
	</div>
</div>
<style>
	.welcome-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 0.5rem;
	}

	.welcome-title h1 {
		font-size: 3rem;
		font-weight: 500;
	}

	.welcome-title p {
		font-size: 1.5rem;
		font-weight: 300;
	}
</style>
