<div>
  pendientes:
  <ul>
    <li>Análisis de datos</li>
    <li>Estadística</li>
    <li>Cálculo</li>
    <li>Base de datos</li>
    <li>Inglés</li>
    <li>Francés</li>
    <li>Cyberseguridad</li>
    <li>Protocolos</li>
  </ul>

  <h1>Proyectos</h1>
  <ul>
    <li>Arduino</li>
    <li>Farolito apis</li>
    <li>Farolito web</li>
    <li>Qualite</li>
    <li>Don Galleto</li>
    <li>Chain Store</li>
    <li>Unna Med</li>
    <li>Portafolio</li>
  </ul>
</div>
