---
import LayoutCv from "../../layouts/LayoutCv.astro";
---

<LayoutCv>
    <div class="bg-slate-400 w-3/4 p-10">
        <h1 class="text-2xl font-bold">Educaci&oacute;n</h1>
        <ul class="w-3/4 text-justify">
            <li class="flex flex-row justify-between mt-4">
                <span class="bg-white rounded-full p-2 h-full">
                    <svg
                        class="w-8 h-8"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        width="24"
                        height="24"
                        stroke-width="2"
                    >
                        <path d="M3 21l18 0"></path>
                        <path d="M4 21v-11l2.5 -4.5l5.5 -2.5l5.5 2.5l2.5 4.5v11"
                        ></path>
                        <path d="M12 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
                        ></path>
                        <path d="M9 21v-5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v5"
                        ></path>
                    </svg>
                </span>

                <p class="pl-3">
                    <strong>Ingenier&iacute;a en Gesti&oacute;n y Desarrollo de software</strong>
                    <em>UTL (2023) | Le&oacute;n, Gto </em>
                    <br /> 
                    Sus competencias incluyen resolver problemas con el m&eacute;todo cient&iacute;fico, comunicarse
                    en un segundo idioma, y gestionar proyectos y desarrollar software conforme
                    a normativas aplicables.
                </p>
            </li>
            <li class="flex flex-row justify-between mt-4">
                <span class="p-2 rounded-full bg-white h-full">
                    <svg
                        class="w-8 h-8"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        width="24"
                        height="24"
                        stroke-width="2"
                    >
                        <path d="M3 21l18 0"></path>
                        <path d="M4 21v-11l2.5 -4.5l5.5 -2.5l5.5 2.5l2.5 4.5v11"
                        ></path>
                        <path d="M12 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
                        ></path>
                        <path d="M9 21v-5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v5"
                        ></path>
                    </svg>
                </span>
                <p class="pl-3">
                    <strong>TSU Desarrollo de Software Multiplataforma</strong>
                    <em>UTL (2021-2023) | Le&oacute;n, Gto</em>
                    <br /> Se desarrolla la capacidad de analizar requerimientos
                    del sistema, desarrollar aplicaciones multiplataforma, aplicar pruebas de
                    software, y administraci&oacute;n de bases de datos.
                </p>
            </li>
        </ul>
    </div>
</LayoutCv>
