---
import LayoutCv from "../../layouts/LayoutCv.astro";
---

<LayoutCv>
    <div class="bg-red-400 w-3/4">
        <h1>Experiencia profesional</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eaque amet sunt sed quaerat inventore cumque placeat quis! Vel accusamus perspiciatis incidunt ad ea quia autem voluptatibus suscipit consequuntur sequi.
         Deserunt placeat obcaecati in, alias quis ut perferendis officiis iste fugiat nemo totam impedit quia esse nihil ipsam! Reiciendis sapiente odio ad velit quia. Magni animi voluptate facere ex et.</p>
    </div>
</LayoutCv>