---
import { transitionEnabledOnThisPage } from "astro:transitions/client";
import LayoutCv from "../../layouts/LayoutCv.astro";
transitionEnabledOnThisPage();
---

<LayoutCv>
    <div class="bg-slate-400 w-3/4 p-10 flex flex-row gap-1">
        <div class="w-1/4">
            <img
                src="https://static.vecteezy.com/system/resources/previews/000/420/681/original/picture-icon-vector-illustration.jpg"
                alt="imagen de yo"
                srcset=""
                class="w-full rounded-lg"
            />
            <h1 class="text-2xl font-bold my-2">Darío Bravo</h1>
            <h3>Desarrollador de software FullStack</h3>
        </div>
        <div class="flex flex-col justify-center w-3/4 p-5 gap-2">
            <p class="text-justify">
                Especializado en desarrollo y programación web, desarrollo de API's, e ingeniería de software.
            </p>
            <p class="text-justify ">
                Desarrollador apasionado por tecnologías del área de informática. Con habilidad para aprender y adaptarme al uso de diversas herramientas con el objetivo de desarrollar soluciones innovadoras. Con capacidad para identificar y responder a las necesidades de cada proyecto de manera eficiente.
            </p>
        </div>
    </div>
</LayoutCv>
