---
import { transitionEnabledOnThisPage } from "astro:transitions/client";
import LayoutCv from "../../layouts/LayoutCv.astro";
transitionEnabledOnThisPage();
---

<LayoutCv>
    <div class="bg-slate-400 w-3/4 p-10 flex flex-row gap-1">
        <div class="w-3/4">
            <img
                src="https://static.vecteezy.com/system/resources/previews/000/420/681/original/picture-icon-vector-illustration.jpg"
                alt="imagen de yo"
                srcset=""
                class="w-full rounded-lg"
            />
            <h1 class="text-2xl font-bold my-2">Darío Bravo</h1>
            <h3>Desarrollador de software</h3>
        </div>
        <div class="flex flex-col justify-center">
            <p class="m-5 pr-32 text-justify">
                Especializado en desarrollo y programación web, desarrollo de
                API's, e ingeniería de software
            </p>
            <p class="m-5 pr-32 text-justify">
                Con gusto en el aprendizaje de tecnologías en general,
                especialmente en el área de informática. Me gusta aprender el
                uso de diferentes herramientas con el fin de crear cosas nuevas
                e innovar en soluciones enfocadas a las necesidades o problemas.
            </p>
        </div>
    </div>
</LayoutCv>
