---
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import { getToken } from "../utilities/tokenChecker";

const {title} = Astro.props;
const token = getToken();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ClientRouter client:visible />
	</head>
	<body transition:animate={fade({ duration: 200 })}>
		<NavBar />
		<div class="bg-slate-200 min-h-96 w-full mt-0 overflow-hidden">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	body {
		font-family: system-ui, sans-serif;
		margin: 0;
	}
</style>
