---
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";
import NavBar from "../components/NavBar.astro";

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ClientRouter />
	</head>
	<body transition:animate={fade({ duration: 200 })}>
		<div class="bg-slate-200 h-full pt-5 w-full content">
			<slot />
		</div>
	</body>
</html>

<style>
	body {
		font-family: system-ui, sans-serif;
		margin: 0;
	}
</style>
